In [1]:
from fastai import *
from fastai.tabular import *

In [2]:
path = untar_data(URLs.ADULT_SAMPLE)
df = pd.read_csv(path/'adult.csv')
train_df, valid_df = df[:-2000].copy(), df[-2000:].copy()
train_df.head()

   age          workclass  fnlwgt  ...   hours-per-week  native-country salary
0   49            Private  101320  ...               40   United-States  >=50k
1   44            Private  236746  ...               45   United-States  >=50k
2   38            Private   96185  ...               32   United-States   <50k
3   38       Self-emp-inc  112847  ...               40   United-States  >=50k
4   42   Self-emp-not-inc   82297  ...               50   United-States   <50k

[5 rows x 15 columns]

In [3]:
dep_var = 'salary'
cat_names = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race']
cont_names = ['age', 'fnlwgt', 'education-num']
procs = [FillMissing, Categorify, Normalize]

In [4]:
test = TabularList.from_df(df.iloc[800:1000].copy(), path=path, 
                           cat_names = cat_names, cont_names=cont_names)

In [5]:
data = (TabularList.from_df(df, path=path, cat_names=cat_names, 
                            cont_names = cont_names, procs = procs)
       .split_by_idx(list(range(800,1000)))
       .label_from_df(cols=dep_var)
       .add_test(test)
       .databunch())

In [6]:
data.show_batch(rows=10)

In [7]:
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)
learn.fit(1, 1e-2)